.styledmenu-position {
  position: fixed;
  top: 304px;
  right: 10px;
  border: 1px solid #3080FE;
}

.ice-menu {
  line-height: 0px;
}

.ice-menu .ice-menu-item {
  line-height: 0px;
  height: 50px;
  padding: 0px;
  width: 60px;
  text-align: center;
}

.ice-menu.ice-menu-vertical .next-icon {
  display: block;
  height: 20px;
  padding-top: 14px;
  width: 60px;
}

.ice-menu.ice-menu-collapse .ice-menu-collapse-hide {
  display: block;
  /* height: 20px; */
  padding-top: 18px;
}
